# Mosquitto credentials
MQTT_USERNAME=admin
MQTT_PASSWORD=2UbhHYRw
MOSQUITTO_IP=127.0.0.1
MOSQUITTO_PORT=1900

API_KEY=replace_with_a_strong_random_key
ALLOWED_HOSTS=https://127.0.0.1:2000,https://localhost:2000
