# MQTT Settings
MQTT_USERNAME=admin
MQTT_PASSWORD=admin@123
MOSQUITTO_IP=127.0.0.1
MOSQUITTO_PORT=1900

# Debug Settings
DEBUG=False
LOG_LEVEL=INFO

JWT_SECRET=replace_with_a_strong_random_secret
API_KEY=replace_with_a_strong_random_key
ALLOWED_HOSTS=https://127.0.0.1:2000,https://localhost:2000
